* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  padding-top: 6px;
  min-height: 70%;
  border-top: rgb(179, 77, 10) 30px solid;
  border-bottom: white 32px solid;
  background-image: url("images/Coffee logo.png");
  background-position: top;
}
header a {
  color: rgb(241, 138, 21);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: center;
}

header #branding h1 {
  margin: 0;
  color: rgb(241, 138, 21);
}

header nav {
  float: left;
  margin: 15px;
}
header .highlight,
header .current a {
  color: rgb(236, 209, 173);
  font-weight: bold;
}

header nav .material-icons {
  font-size: 30px;
  color: rgb(235, 227, 217);
}

header a:hover {
  color: brown;
  font-weight: bold;
}

#center {
  text-align: center;
}

#branding {
  float: right;
  margin: 5px;
}

#branding a:hover {
  color: brown;
  font-weight: bold;
}

/*showcase*/

#showcase {
  min-height: 450px;
  background: url("../Images/coffee22.jpg") 0 -280px;
  text-align: center;
  color: rgb(236, 209, 173);
}

#showcase h1 {
  margin: 135px;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
  line-height: 1em;
}

#showcase h2 {
  font-size: 45px;
  color: rgb(252, 156, 46);
  line-height: 0.2em;
}

/*map*/

.MapPhoto {
  min-height: 215px;
  background: url("../Images/map.png") 0 -290px;
  background-position: center;
}

/* Footerphoto*/

#FooterPhoto2 {
  min-height: 450px;
  background: url("../Images/coffee10.jpg") 0 -290px;
}

/*footer*/

.footer {
  padding: 25px;
  color: rgb(235, 227, 217);
  background-color: rgb(95, 34, 5);
  text-align: center;
}
.footer .social a {
  margin: 0 20px;
  font-size: 25px;
  color: rgb(235, 227, 217);
}

.footer h1 {
  margin: 6px;
  font-size: 18px;
}

.footer p {
  margin: 5px;
  font-size: 14px;
  color: rgb(235, 227, 217);
}

.footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* PhotoContact Us*/

#ContactUSphoto h1 {
  margin: 230px;
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 30px;
  line-height: 1.8em;
  color: rgb(252, 237, 220);
  text-align: center;
}

#ContactUSphoto {
  min-height: 550px;
  background: url("../Images/coffee22.jfif") 0 -280px;
}

/* Form Contact Us*/

.section-contact {
  min-height: 60vh;
  width: 200vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  background-image: url("../Images/elSalvadorCoffee11a.jpg");
  background-position: left;
}

.container1 {
  width: 50%;
  background: white;
  border-radius: 6px;
  padding: 30px 60px 40px 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container1 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(95, 34, 5);
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: rgb(95, 34, 5);
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
  color: rgb(70, 24, 3);
}

.content .left-side .details .text-one,
.content .left-side .details .text-two,
.content .left-side .details .text-three {
  font-size: 14px;
  color: rgb(196, 136, 59);
}

/* right side */

.container1 .content .right-side {
  width: 60%;
  margin-left: 75px;
  padding: 40px;
}

.content .right-side .details {
  margin: 14px;
  text-align: center;
}

.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: rgb(95, 34, 5);
  text-align: center;
}

.input-box {
  height: 50px;
  width: 160px;
  margin: 12px 0;
}

.right-side .input-box input {
  height: 60%;
  width: 235%;
  border: none;
  background: rgb(204, 188, 167);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}

.right-side .input-box textarea {
  height: 100%;
  width: 235%;
  border: none;
  background: rgb(204, 188, 167);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}

p {
  font-size: 17px;
  color: rgb(70, 24, 3);
  text-align: center;
}

label {
  color: rgb(70, 24, 3);
}

.right-side .message-box {
  min-height: 110px;
  margin-top: 6px;
}

.right-side .btn input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 35%;
  background: rgb(95, 34, 5);
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* Error message*/

#error_message {
  margin-bottom: 20px;
  background: rgb(243, 131, 127);
  padding: 0px;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s ease;
  width: 97%;
}

@media (max-width: 950px) {
  .container1 {
    width: 90%;
    padding: 30px 35px 40px 35px;
  }
}
@media (max-width: 950px) {
  .container1 {
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content {
    flex-direction: column-reverse;
  }
  .container1 .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container1 .content .left-side::before {
    display: none;
  }
  .container1 .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
